---
import type { InferEntrySchema } from 'astro:content';

import { format } from "date-fns";

interface Props {
    article: InferEntrySchema<"info">;
}

const { article } = Astro.props;

const pubDate = format(article.published, "PPPP pppp")

let updatedDate;
if (article.updated) {
    updatedDate = format(article.updated, "PPPP pppp")
}
---

<header class="flex flex-col items-center justify-center text-center gap-3 pt-4">
    <div class="flex flex-col">
        <h1 class="text-4xl font-black">{article.title}</div>
        <div class="text-2xl font-medium">{article.description}</div>
            {
                (article.published || article.updated) && (
                    <div class="flex flex-col gap-1 text-sm font-light">
                        {article.published && <span>Published: <strong class="font-semibold">{pubDate}</strong></span>}
                        {article.updated && <span>Updated: <strong class="font-semibold">{updatedDate}</strong></span>}
                    </div>
                )
            }
    </div>
</header>