---
import Layout from "~/layouts/MainLayout.astro";
import Nav from "~/components/Nav.astro";
import Footer from "~/components/Footer.astro";

import { getCollection } from "astro:content";
import ArticleLayout from "~/layouts/ArticleLayout.astro";

import PostHeader from "~/components/blog/PostHeader.astro";

export async function getStaticPaths() {
    const blogEntries = await getCollection("blog");

    return blogEntries.map(entry => ({
        params: { slug: entry.slug }, props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<ArticleLayout title={entry.data.title} 
    description={entry.data.description} 
    image={entry.data.image ?? "/og_image.png"} 
    ogType="article" 
    pubDate={entry.data.published.toDateString()} 
    modDate={entry.data.published.toDateString()}
>
    <Nav />
    <section class="pl-10 pb-10 px-10 max-w-5xl w-full self-center">
        <PostHeader article={entry.data} />
        <main class="article-content prose prose-hr:border-grayscale-950">
            <Content />
        </main>
    </section>
    <Footer />
</Layout>