---
import hero from "~/assets/hero.jpg";

import { Image } from "astro:assets";
---
<div class="max-sm:hidden md:flex md:justify-end md:self-center md:pr-8 ">
    <!--  <img src={(hero as unknown as ImageMetadata).src} class="w-3/4 rounded-xl h-full opacity-80"> -->
    <Image src={(hero)} alt="A X'Trapolis train on a train overpass at Flinders Street." class="w-3/4 rounded-xl h-full opacity-80"/>
</div>