@tailwind base;
@tailwind components;
@tailwind variants;
@tailwind utilities;

.article-content {
    @apply max-w-none not-italic;
    @apply prose-headings:relative;
    @apply pt-10;

    > * {
        @apply text-grayscale-950;
    }

    :is(a, strong, code) {
        @apply text-grayscale-950;
    }

    a {
        @apply font-semibold underline-offset-4;
    }
    
    .astro-code {
        @apply border border-grayscale-950;
        --astro-code-color-background: rgb(242, 242, 242);
        --astro-code-color-text: rgb(142, 142, 142);
        --astro-code-token-string-expression: rgb(121, 121, 121);
    }

    > figure {
        @apply flex flex-col items-center;
        > img {
            @apply rounded-lg;
        }
        > figcaption {
            @apply font-light text-center self-center justify-center text-grayscale-950;
        }
    }
    
    > hr {
        @apply border border-grayscale-800;
    }

    > ul {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;

        @apply p-0 m-2;
    }
}

.link {
    @apply font-light hover:underline hover:underline-offset-8; 
}