div#main {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 0;
  flex-direction: column;
  gap: 1rem;
  padding-left: 45px;
  padding-top: 125px;

  div.item {
    flex: 0 0 calc(33% - 1rem);
  }
}

h1,h2,h3,p {
  font-family: "Overpass", sans-serif;
}
