---
import AltNav from "../components/AltNav.astro";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";

import {SITE_TITLE} from "../config"


const navCurrent = "/404";
---
<!DOCTYPE html>
<html>
    <head>
        <BaseHead title={SITE_TITLE} description="Page not found." />
    </head>
    <body>
        <body class="flex flex-col bg-base flex-grow text-text text-xl w-full h-screen gap-2">
            <AltNav current={navCurrent} />
            <section class="flex flex-col flex-1 max-w-2xl p-4 gap-4 m-auto sm:mt-5 sm:p-0 w-full">
                <header class="flex flex-col gap-3">
                    <h1 class="text-4xl font-extrabold">You got 404'd.</h1>
                </header>
                <div class="h-2 bg-gradient-to-r from-red via-blue to-yellow"></div>
                <main class="flex flex-col gap-2">
                    <h2 class="text-xl font-normal italic">I'm afraid <code>{Astro.url}</code> does not exist.</h2>
                    <p class="text-lg font-light">Please have a cat for your troubles.</p>
                    <img class="max-w-none rounded-md" src="https://cataas.com/cat">
                </main>
            </section>
            <Footer />
        </body>
</html>