---
import Layout from "~/layouts/MainLayout.astro";
import Nav from "~/components/Nav.astro";
import Footer from "~/components/Footer.astro";

import { getCollection } from "astro:content";

import { format } from "date-fns";
import PageHeader from "~/components/info/PageHeader.astro";

export async function getStaticPaths() {
    const blogEntries = await getCollection("info");

    return blogEntries.map(entry => ({
        params: { slug: entry.slug }, props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title} description={entry.data.description}>
    <Nav />
    <section class="pl-10 pb-10 px-7 max-w-5xl w-full self-center">
        <PageHeader article={entry.data} />
        <main class="pt-4 article-content prose prose-hr:text-grayscale-950">
            <Content />
        </main>
    </section>
    <Footer />
</Layout>