---
import Layout from "~/layouts/MainLayout.astro";
import Nav from "~/components/Nav.astro";
import Footer from "~/components/Footer.astro";

import { getCollection } from "astro:content";
import Icon from "astro-iconify";

const blogPosts = await getCollection("blog");
---


<Layout
    title="Posts | Duale Siad"
    description="Wale's blog posts."
>
    <Nav />
    <main class="flex flex-1 flex-col gap-8 pl-10 pb-10 px-10 max-w-5xl w-full self-center">
        <header class="flex flex-col gap-4 pt-4">
            <h1 class="text-4xl font-bold">Posts</h1>
            <span class="text-lg font-regular">
                This is a collation of my posts that I write occasionally. 
                While the content can range in topics, these blog posts usually relate to IT and technology in some form.
            </span>
            <span class="text-lg italic">
                Not all of my posts prior to December 2023 have been moved to the rewritten site. All previous posts are archived <a href="https://codeberg.org/wale/site/src/branch/legacy/src/pages/blog" class="underline underline-offset-4">on Codeberg</a>.
            </span>
            <a href="/rss.xml" class="flex items-center link gap-4 pt-4 flex-row text-lg">
                <Icon name="simple-icons:rss" height="18" />
                RSS Feed
            </a>
        </header>
        <div class="flex flex-col gap-4">
            {
                blogPosts.sort((a, b) => +b.data.published - +a.data.published).map(({ data, slug }) => (
                <article class="post">
                    <div class="flex flex-col gap-2 p-5">
                      <div class="flex flex-col gap-4">
                        <div class="grid gap-3 items-center align-middle">
                          <h2 class="text-2xl font-bold"><a href={`/blog/${slug}`}>{data.title}</a></h2>
                          <h2 class="text-lg font-light italic"><a href={`/blog/${slug}`}>{data.published.toDateString()}</a></h2>
                        </div>
                        <p class="text-lg font-normal"><a href={`/blog/${slug}`}>{data.description}</a></p>
                      </div>
                      {!!data.tags && (
                        <div class="flex flex-row gap-2 flex-wrap">
                          {data.tags.map((tag) => (
                              <a href={`/blog/tags/${tag}`} class="min-w-0"><button class="rounded-full border-[1px] px-3 py-1 text-base">{tag}</button></a>
                          ))}
                        </div>
                      )}
                    </div>
                  </article>
                ))
              }
        </div>
    </main>
    <Footer />
</Layout>
<style>
    .post {
        @apply rounded-lg border-[1px] border-grayscale-950;
    }
</style>