---
import Layout from "~/layouts/MainLayout.astro";

import Hero from "~/components/hero/Hero.astro";
import HeroImage from "~/components/hero/HeroImage.astro";
import Logo from "~/components/Logo.astro";
import Icon from "~/components/BrandedIcon.astro";

import { SITE_NAME, SITE_DESCRIPTION } from "~/config";
---

<Layout title={SITE_NAME} description={SITE_DESCRIPTION}>
    <div class="flex flex-row w-full">
        <Hero>
            <Logo />     
            <h1 class="text-5xl font-black">{SITE_NAME}</h1>
            <h2 class="text-2xl font-regular">{SITE_DESCRIPTION}</h2>
            <div class="flex flex-row md:flex-row gap-4">
                <div class="flex flex-row gap-4">
                    <Icon icon="simple-icons:codeberg" url="https://codeberg.org/wale" label="Codeberg" height="24" />
                    <Icon icon="simple-icons:github" url="https://github.com/wale" label="Github" height="24" />
                    <Icon icon="simple-icons:instagram" url="https://instagram.com/spellsaidwrong" label="Instagram" height="24" />
                    <Icon icon="simple-icons:mastodon" url="https://aus.social/wale" label="Mastodon" height="24" rel="me" />
                    <Icon icon="simple-icons:pixelfed" url="https://pixelfed.au/wale" label="PixelFed" height="24" rel="me" />
                </div>
            </div>
            <div class="flex flex-row md:flex-row flex-wrap gap-4 font-light">
                <a href="/blog" class="link">Blog</a>
                <a href="/about" class="link">About</a>
                <a href="/work" class="link">Work</a>
                <a href="/now" class="link">Now</a>
                <a href="/library" class="link">Library Cards</a>
            </div>
        </Hero>
        <HeroImage />
    </div>
</Layout>