---
import Layout from "~/layouts/MainLayout.astro";

import Hero from "~/components/Hero.astro";
import Logo from "~/components/Logo.astro";
import Icon from "~/components/BrandedIcon.astro";

import { SITE_NAME, SITE_DESCRIPTION } from "~/config";
---

<Layout title={SITE_NAME} description={SITE_DESCRIPTION}>
    <Hero>
        <Logo />     
        <h1 class="text-5xl font-black">{SITE_NAME}</h1>
        <h3 class="text-2xl font-regular">{SITE_DESCRIPTION}</h3>
        <div class="flex flex-col md:flex-row gap-4">
            <div class="flex flex-row gap-4 first:pl-0 last:pr-0">
                <Icon icon="simple-icons:git" url="https://git.wale.au/wale" height="24" />
                <Icon icon="simple-icons:github" url="https://github.com/wale" height="24" />
                <Icon icon="simple-icons:instagram" url="https://instagram.com/spellsaidwrong" height="24" />
                <Icon icon="simple-icons:mastodon" url="https://merveilles.town/wale" height="24" rel="me" />  
            </div>
            <div class="flex flex-row gap-4 first:pl-0 last:pr-0">
                <a href="/blog" class="link">Blog</a>
                <a href="/about" class="link">About</a>
                <a href="/contact" class="link">Contact</a>
            </div>
        </div>
    </Hero>
</Layout>
<style lang="scss">
    .link {
        @apply font-light hover:underline hover:underline-offset-8;
    }
</style>