---
import MainLayout from "~/layouts/MainLayout.astro";
import Nav from "~/components/Nav.astro";
import Footer from "~/components/Footer.astro";

import cards from "~/assets/library/cards.csv";

import type { Library } from "~/util/library";
import { libraryServices, cavalServices } from "~/util/library";

import _ from "underscore";
import Icon from "astro-iconify";
import { date } from "astro/zod";

const results: Library[] = [];

(cards as Array<object>).map((card) => {
  let library: Library = {
    service: "",
    date: undefined,
    note: "",
    collectedAt: "",
    isCaval: false,
  };

  library.date = new Date(card["Date Collected"]);

  library.note = card["Notes"];
  library.collectedAt = card["Library Collected At"];

  library.service = card["Library Service"];

  // Split if library has multiple LGAs
  if (card["LGAs"] !== "N/A") {
    library.lga = card["LGAs"].split(", ");
  }

  if (card["Library Service"].includes("CAVAL")) {
    library.service = card["Library Service"].replace("(CAVAL)", "").trim();
    library.isCaval = true;
  }

  results.push(library);
});

const serviceArray = Array.from(results, (r) => r.service);
---

<MainLayout
  title="Library Cards"
  description="A collection of library cards around the Greater Melbourne Area"
>
  <Nav />
  <main
    class="flex flex-col gap-8 pl-10 pb-10 px-10 max-w-5xl w-full self-center"
  >
    <header class="flex flex-col pt-4 gap-2">
      <h1 class="text-4xl font-bold">Library Cards</h1>
      <span class="text-lg font-regular">
        This is a collection of library cards around the vicinity of <a
          href="https://www.sro.vic.gov.au/greater-melbourne-map-and-urban-zones"
          class="underline underline-offset-4">Greater Melbourne</a
        >, that I have been collecting since early 2022. The current status of
        the hobby can be found here.
      </span>
      <span class="text-lg">
        I currently hold <strong>{results.length}</strong> cards! <i
          >({results.filter((l) => l.isCaval).length} CAVAL cards, {
            results.filter((l) => !l.isCaval).length
          } public libraries)</i
        >
      </span>
      <span class="text-lg">
        For more data on the libraries themselves, and the status of the collection,
        refer to the <a href="/library/cards.csv">CSV file</a>, which the site uses to generate this page.  
      </span>
      <span class="text-lg italic">
        Latest update to the database is <strong
          >{
            results
              .reduce((a, b) => (a.date > b.date ? a : b))
              .date.toDateString()
          }</strong
        >.
      </span>
    </header>
    <section class="flex flex-col gap-4">
      <h2 class="text-2xl font-bold">Public Libraries</h2>
      <div class="md:flex md:flex-row md:space-y-0 gap-4">
        <div class="flex flex-col text-sm gap-2">
          <h3 class="text-xl font-semibold">Collected</h3>
          {
            results
              .filter((c) => !c.isCaval)
              .filter((c) => libraryServices.includes(c.service))
              .sort((a, b) => a.date.getTime() - b.date.getTime())
              .map((c) => (
                <div class="grid grid-rows-1 grid-flow-col gap-2 justify-start">
                  <span class="h-4 w-4 bg-green-500 box-border" />
                  <span>
                    {c.service} (collected at{" "}
                    <strong>{c.date.toDateString()}</strong>)
                  </span>
                </div>
              ))
          }
        </div>
        <!-- stupid hack -->
        <div class="md:hidden pt-4 pb-4"></div>
        <div class="flex flex-col text-sm gap-2">
          <h3 class="text-xl font-semibold">Yet to Collect</h3>
          {
            _.difference(libraryServices, serviceArray).map((c) => (
              <div class="grid grid-rows-1 grid-flow-col gap-2 justify-start">
                <span class="h-4 w-4 bg-red-800 box-border" />
                <span>{c}</span>
              </div>
            ))
          }
        </div>
      </div>
      <h2 class="text-2xl font-bold">CAVAL</h2>
      <span class="text-lg font-regular">
        <a href="https://caval.edu.au" class="underline underline-offset-4"
          >CAVAL</a
        > is a Victorian higher education cross-institution library system. To join,
        you must be a student in any participating institution.
      </span>
      <span class="text-lg italic">
        Note: Swinburne University of Technology is not included, as I am a
        current student of that institution.
      </span>
      <div class="md:flex md:flex-row md:space-y-0 gap-4">
        <div class="flex flex-col text-sm gap-2">
          <h3 class="text-xl font-semibold">Collected</h3>
          {
            results
              .filter((c) => c.isCaval)
              .filter((c) =>
                cavalServices.includes(c.service.replace(" (CAVAL) ", ""))
              )
              .sort((a, b) => a.date.getTime() - b.date.getTime())
              .map((c) => (
                <div class="grid grid-rows-1 grid-flow-col gap-2 justify-start">
                  <span class="h-4 w-4 bg-green-500 box-border" />
                  <span>
                    {c.service} (collected at{" "}
                    <strong>{c.date.toDateString()}</strong>)
                  </span>
                </div>
              ))
          }
        </div>
        <!-- stupid hack 2 -->
        <div class="md:hidden pt-4 pb-4"></div>
        <div class="flex flex-col text-sm gap-2">
          <h3 class="text-xl font-semibold">Yet to Collect</h3>
          {
            _.difference(cavalServices, serviceArray).map((c) => (
              <div class="grid grid-rows-1 grid-flow-col gap-2 justify-start">
                <span class="h-4 w-4 bg-red-800 box-border" />
                <span>{c}</span>
              </div>
            ))
          }
        </div>
      </div>
    </section>
  </main>
  <Footer />
</MainLayout>
