<footer>
	<div class="info">
		<p>Made with ❤️ with {Astro.generator}.</p>
		<p>Posts are licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode">CC-BY-NC-SA 4.0 International</a>.</p>
		<ul class="info-row">
			<li><a href="https://github.com/wale/site">Source</a></li>
		</ul>
	</div>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
	footer > .info {
		display: block;
	}
	footer > .info > ul li {
		display: inline;
	}
</style>
