<footer class="p-5 md:p-12 md:m-8 text-center font-normal text-lg lg:text-left">
    <div class="flex flex-col bg-grayscale-400 text-grayscale-800 items-center justify-center rounded-lg gap-2 p-5 flex-wrap">
        <p>Copyright &#169; 2021-{new Date().getFullYear()} Duale Siad.</p>
        <p>All blog posts are licenced under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" class="underline underline-offset-4">CC-BY-NC-SA 4.0</a>.
        <p>Made with ❤️ and {Astro.generator}. Source code available <a href="https://github.com/wale/site" class="underline underline-offset-4">here</a>.</p>
    </div>
</footer>