---
import HeaderLink from './HeaderLink.astro';
import ResponsiveIcon from './ResponsiveIcon.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<header class="text-text text-xl">
	<ResponsiveIcon />
	<div class="grid gap-0.5">
		<h2 class="font-semibold">
			{SITE_TITLE}
		</h2>
		<p class="font-semibold">
			{SITE_DESCRIPTION}
		</p>
		<nav class="font-regular text-sm">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
			<HeaderLink href="mail&#116;&#111;&#58;m&#101;&#64;%77a&#37;6Ce&#46;a&#117;">E-Mail</HeaderLink>
			<HeaderLink href="https://twitter.com/spellsaidwrong" target="_blank">Twitter</HeaderLink>
			<HeaderLink href="https://github.com/wale" target="_blank">GitHub</HeaderLink>
			<HeaderLink href="https://merveilles.town/@wale" target="_blank" rel="me">Mastodon</HeaderLink>
		</nav>
	</div>
</header>
