---
import HeaderLink from './HeaderLink.astro';
import ResponsiveIcon from './ResponsiveIcon.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<header>
	<ResponsiveIcon />
	<div class="info">
		<h2>
			{SITE_TITLE}
		</h2>
		<p>
			{SITE_DESCRIPTION}
		</p>
	</div>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="mail&#116;&#111;&#58;m&#101;&#64;%77a&#37;6Ce&#46;a&#117;">E-Mail</HeaderLink>
		<HeaderLink href="https://twitter.com/spellsaidwrong" target="_blank">Twitter</HeaderLink>
		<HeaderLink href="https://github.com/wale" target="_blank">GitHub</HeaderLink>
		<HeaderLink href="https://merveilles.town/@wale" target="_blank" rel="me">Mastodon</HeaderLink>
	</nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2, p {
		margin: 0.5em 0;
	}
	nav {
		display: flex;
		flex-direction: row;
		gap: 5px;
	}
</style>
