---
import Logo from "./Logo.astro";
---

<nav class="flex flex-col md:flex-row items-center p-4 gap-2">
    <a href="/"><Logo class="scale-50"/></a>
    <div class="flex flex-row gap-4">
        <a href="/blog" class="link">Blog</a>
        <a href="/about" class="link">About</a>
        <a href="/work" class="link">Work</a>
    </div>
</nav>