---
import "@wale/general-sans";
import "@wale/voces";
import "@fontsource/iosevka";

import "~/styles/global.css";

import Head from "~/components/Head.astro";
import ArticleHead from "~/components/blog/ArticleHead.astro";

interface Props {
    description?: string;
    title: string;
    image?: string | undefined;
    ogType?: string;
    pubDate?: string | undefined;
    modDate?: string | undefined;
}
const { description, title, ogType, image, pubDate, modDate } = Astro.props;
---
<!doctype html>
<html lang="en">
    <ArticleHead title={title} description={description ?? "Duale Siad"} image={image} type={ogType} pubDate={pubDate} modDate={modDate} />
    <body class="flex flex-col flex-grow bg-grayscale-300 md:text-2xl text-grayscale-950 text-xl h-screen">
        <slot />
    </body>
</html>