---
import "@wale/general-sans";
import "@wale/voces";
import "@fontsource/iosevka";

import "~/styles/global.css";

import Head from "~/components/HeadEl.astro";

interface Props {
    description?: string;
    title: string;
    ogTitle?: string;
}
const { description, title, ogTitle } = Astro.props;
---
<!doctype html>
<html lang="en">
    <Head title={title} description={description ?? "Duale Siad"} />
    <body class="flex flex-col flex-grow bg-grayscale-300 md:text-2xl text-grayscale-950 text-xl h-screen">
        <slot />
    </body>
</html>